<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />
<title>Cocktail Lounge</title>
<div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />
<link
	href="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"
	rel="stylesheet">
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"
	rel="stylesheet">
<link href="BS/css/star-rating.css" media="all" rel="stylesheet"
	type="text/css" />

<!-- optionally if you need to use a theme, then include the theme file as mentioned below -->
<link href="BS/themes/theme.css" media="all" rel="stylesheet"
	type="text/css" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="BS/js/star-rating.js" type="text/javascript"></script>

<!-- optionally if you need to use a theme, then include the theme file as mentioned below -->
<script src="BS/themes/theme.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="BS/css/comment.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css'>
</head>
<body>

	<nav th:replace="~{includes/searchNav}"></nav>
	<div class="brand">Cocktail Lounge</div>
	<div class="address-bar">Carina Coelestin | Nikolaus Hribernig |
		Patrick Plank</div>


	<div>
		<nav th:replace="~{includes/navigation}"></nav>
	</div>
	<!--  End of container -->
	<form class="form-horizontal" method="POST" id="commentform">
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />
		<legend>Show Cocktail</legend>

		<!-- --------------  Name ---------------- -->
		<div class="form-group">
			<label for="inputName" class="col-md-2 control-label">Name</label>
			<div class="col-md-10">
				<td th:text="${cocktail.name}"></td>
			</div>
		</div>

		<!-- --------------  Zutaten ---------------- -->

		<div class="form-group">
			<label for="inputAlc" class="col-md-2 control-label">Zutaten</label>
			<div class="col-md-10">
				<td th:text="${cocktail.stringIngredients}"></td>
			</div>
		</div>
		<span sec:authorize="hasRole('USER')">
			<td><a th:href="@{/addCocktail(id=${cocktail.id})}">Edit</a></td>
		</span>
		<!-- --------------  Type ---------------- -->
		<div class="form-group">
			<label for="inputType" class="col-md-2 control-label">Type</label>
			<div class="col-md-10">
				<td th:text="${cocktail.type.name}"></td>
			</div>
		</div>

		<!-- --------------  Alcoholgehalt ---------------- -->
		<div class="form-group">
			<label for="inputAlc" class="col-md-2 control-label">Alcohol
				in %</label>
			<div class="col-md-10">
				<td th:text="${cocktail.alc}"></td>
			</div>
		</div>
		<div th:replace="~{includes/bootstrapJS :: bootstrapJS}" />

		<span sec:authorize="hasRole('USER')">
			<td><label for="inputRating" class="control-label">Rate
					This</label> <input id="inputRating" name="rating"
				class="rating rating-loading" data-show-clear="false"
				data-show-caption="true"><a th:href="@{/showCocktail(id=${cocktail.id}, rating=${rating})}">Submit rating</a></td>
		</span>

		<!-- JS for Datetime picker -->
		<div class="container">

			<h1>COMMENT BOX</h1>
			<!-------Wrap------------>
			<div id="wrap">
				<div id="main">
					<div class="row">
						<div class="col-md-5">
							<h3 class="heading">Comments</h3>
						</div>
						<div class="col-md-7">
							<div id="upper_blank"></div>
						</div>
					</div>
				</div>
				<tr th:each="comment : ${cocktail.comments}">
					<td th:text="${comment.commentOwner.username}"></td>
					<td th:text="${comment.comment}"></td>
				</tr>
				<span sec:authorize="hasRole('USER')"> <!------------Form Start---------->

					<div id='form'>
						<div class="row">
							<div class="col-md-12">



								<div id="comment-message" class="form-row">
									<textarea name="comment" placeholder="Message"
										id="inputComment"></textarea>
								</div>
								<a href="#"><input type="submit" name="dsubmit"
									id="commentSubmit" value="Submit Comment"></a>


							</div>
						</div>
					</div>
				</span>

			</div>
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
	</form>
</body>
</html>